/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}


.header-background .text h2{
  font-weight:bold
}

.header-background .text{
  margin-top:-4em;
  text-align:right;
  margin-right:2em;
  padding-bottom:2em;
  color:white;
  font-weight:bold
}
.header-background .img1{
  background-image:url("../img/math-screenshot.png");
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center bottom;
  height:15em;
  margin-bottom:2em;
  margin-top:-2.7em
  //filter:invert(89%)
}

.header-background .img{
  background-image:url("../img/score_contour.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center bottom;
  height:15em;
  margin-bottom:2em;
  margin-top:-2.7em;
  
}



// TODO: redefine content layout.


/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.


/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
